body {
    background-color: rgb(0, 17, 17);
    
}

h1{
    color:blueviolet
}

.card {
    margin: auto;
    background-color: whitesmoke;
    width: 40%;
    height: 40%;
}

.header-card {
    padding: 20px 10px;
}

.image img {
    width: 100%;
}

.content-card {
    padding: 20px 10px;
}

.hashtag {
    color: cadetblue;
    text-decoration: underline;
}