body {
    /* background-color: #121212; */
    background-color: #FAFAFA;
    font-family: "Google Sans", sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.logotipo{
    width: 120px;
    /* filter: brightness(1) invert(1); */
}

.card {
    margin: 1rem auto;
    background-color: white;
    width: 40%;
    height: 40%;
    border: 1px solid #EFEFEF;
}

.header-card {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.header-card svg {
   width: 24px;
   cursor: pointer;
}

.header-card-user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-card-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(235, 47, 235, 0.784);
    padding: 1.5px;
    cursor: pointer;
    display: flex;
}

.header-card-userinfo {
    display: flex;
    flex-direction: column;
}

.header-card-userinfo b{
    font-size: 20px;
}

.header-card-userinfo p{
    color: gray;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.image img {
    width: 100%;
}

.content-card {
    padding: 30px 20px;
}

.content-card-likes {
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-icons {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.content-card-icon {
    display: flex;
    align-items: end;
    gap: 15px;
    margin-bottom: 12px;
}

.content-card-icons i {
    width: 25px;
    cursor: pointer;
}

.hashtag {
    color: #0095F6;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 600px) {
    .logotipo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
  .card {
    width: 100%;
    height: 40%;
}
}